# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV into DataFrame

In [11]:
# Load the data
file_path = Path('Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

# Split the Data into Training and Testing

In [34]:
# Create our features
x_cols = [i for i in df.columns if i not in ([ "homeowner","loan_status"])]
X=df[x_cols]

# Create our target
y = df["loan_status"]

In [35]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [36]:
# Check the balance of our target values
y.value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split
# Create X_train, X_test, y_train, y_test
X_train , X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [38]:
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900
67518,8300.0,6.652,43200,0.305556,2,0,13200
62968,8600.0,6.774,44300,0.322799,3,0,14300
8891,9900.0,7.349,49800,0.397590,4,0,19800
22120,10600.0,7.647,52600,0.429658,5,1,22600
33269,9200.0,7.027,46700,0.357602,3,0,16700
61934,9900.0,7.321,49500,0.393939,4,0,19500
58468,9100.0,7.005,46500,0.354839,3,0,16500
34123,9000.0,6.934,45900,0.346405,3,0,15900
62502,9200.0,7.041,46900,0.360341,3,0,16900
40800,9100.0,6.986,46300,0.352052,3,0,16300
3999,7800.0,6.454,41300,0.273608,2,0,11300
21047,9800.0,7.269,49000,0.387755,4,0,19000
71918,8600.0,6.789,44500,0.325843,3,0,14500
42393,8000.0,6.507,41800,0.282297,2,0,11800
1816,9400.0,7.126,47700,0.371069,3,0,17700
58357,10000.0,7.396,50200,0.402390,4,1,20200
45543,5700.0,5.533,32700,0.082569,0,0,2700
43155,9500.0,7.164,48000,0.375000,4,0,18000
40041,7600.0,6.356,40400,0.257426,2,0,10400
65381,8800.0,6.858,45100,0.334812,3,0,15100
30935,10700.0,7.687,52900,0.432892,5,1,22900
74299,8700.0,6.842,45000,0.333333,3,0,15000
56915,9300.0,7.092,47300,0.365751,3,0,17300
30309,11600.0,8.035,56200,0.466192,5,1,26200
26207,10600.0,7.649,52600,0.429658,5,1,22600
...,...,...,...,...,...,...,...
63697,9700.0,7.243,48800,0.385246,4,0,18800
61756,9100.0,7.008,46500,0.354839,3,0,16500
68097,8700.0,6.840,45000,0.333333,3,0,15000
3606,9600.0,7.190,48300,0.378882,4,0,18300
37183,10200.0,7.466,50900,0.410609,4,1,20900
33878,10600.0,7.639,52500,0.428571,5,1,22500
51040,9300.0,7.081,47200,0.364407,3,0,17200
44510,10700.0,7.659,52700,0.430740,5,1,22700
26103,7700.0,6.384,40700,0.262899,2,0,10700
17137,9800.0,7.296,49300,0.391481,4,0,19300
19433,9700.0,7.257,48900,0.386503,4,0,18900
31959,8800.0,6.870,45200,0.336283,3,0,15200
57245,9500.0,7.172,48100,0.376299,4,0,18100
19946,8900.0,6.925,45800,0.344978,3,0,15800
8444,10600.0,7.651,52600,0.429658,5,1,22600
64395,8100.0,6.588,42600,0.295775,2,0,12600
51668,9100.0,6.976,46200,0.350649,3,0,16200
35730,11300.0,7.912,55100,0.455535,5,1,25100
45413,10300.0,7.493,51100,0.412916,4,1,21100
21758,7900.0,6.489,41700,0.280576,2,0,11700
36230,11400.0,7.959,55500,0.459459,5,1,25500
31228,9100.0,6.985,46300,0.352052,3,0,16300
43757,10100.0,7.406,50300,0.403579,4,1,20300
7751,10200.0,7.456,50800,0.409449,4,1,20800
49100,9800.0,7.311,49400,0.392713,4,0,19400
20609,7200.0,6.177,38700,0.224806,1,0,8700
21440,10000.0,7.389,50100,0.401198,4,1,20100
73349,10200.0,7.463,50800,0.409449,4,1,20800
50057,11100.0,7.838,54400,0.448529,5,1,24400
5192,10600.0,7.632,52400,0.427481,5,1,22400

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [39]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [40]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [41]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Simple Logistic Regression

In [42]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [43]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9520479254722232

In [44]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  563,    56],
       [  102, 18663]], dtype=int64)

In [45]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      0.91      0.99      0.88      0.95      0.90       619
   low_risk       1.00      0.99      0.91      1.00      0.95      0.91     18765

avg / total       0.99      0.99      0.91      0.99      0.95      0.91     19384

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [ ]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

### SMOTE Oversampling

In [ ]:
# Resample the training data with SMOTE
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Undersampling

In this section, you will test an undersampling algorithm to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [ ]:
# Resample the data using the ClusterCentroids resampler
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculate the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [ ]:
# Resample the training data with SMOTEENN
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculate the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Final Questions

1. Which model had the best balanced accuracy score?

   YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.